.app-header {
    background-color: #f0f0f06e;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: top;
    height: 50px;
    width: 100%;
  }

  .app-header h1 {
    margin: 0;
    color: #333;
    align-self: center;
  }

  .app-header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
  }

  .app-header nav ul li {
    margin-left: 1rem;
  }

  .app-header nav ul li a {
    text-decoration: none;
    color: #333;
  }

  .app-header nav ul li a:hover {
    color: #007bff;
  }